#header{
    width: 100%;
    height: 5em;
    border-radius: 0 0 1em 1em;
    background: linear-gradient(to bottom,  #4c00ff, blueviolet);
    border: none;
    background-color: #4c00ff;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 10;

    .form{
        transform: translate(0%, 30%);
        background: #fff;
        height: 2.5em;
        border-radius: 2.5em;
        padding: 0.3em;
    }
    
    .form__search{
        color: #fff;
        float: right;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .form:hover > .form__input{
        padding: 0 6px;
    }

    .form:hover > .form__search{
        background: #4c00ff;
    }

    .form__input {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 2.5em;
        transition: 0.4s;
        line-height: 2.5em;
        // width: 50%;
    }

    .header__basket{
        color: #4c00ff;
        cursor: pointer;
        border: #fff;
        border-radius: 8px;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.21429;
        padding: 0 1em;
        background: #fff;
        height: 50%;
        margin: auto 0;

        &:hover{
            color: #fff;
            background: linear-gradient(to bottom,  #2c0090, rgb(85, 26, 140));
        }
    }

    .header__logo{
        height: 50%;
        margin: auto 0;
        padding: 0 1em;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.21429;
        color: #fff;
    }
}